/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Colors: */

:root {
  --body-background: rgb(229,229,229);
  --dinA4-background: rgb(239,239,239);
  --white-transparent: rgba(239,239,239, 0.9);
  --red: rgb(230,57,70);
  --blue: rgb(29,53,87);
  --light-blue: rgb(69,123,157);
  --green: rgb(75,175,40);
  --black: rgb(18,18,18);
  --light-black: rgba(18,18,18,0.2);
  --grey: rgba(18,18,18,0.5);
}

/* ------- */

body {
  background-color: var(--body-background);
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: var(--blue);
}
a:hover {
  color: var(--red);
}

.left-border {
  width: 57px;
  position: relative;
}

.box-1 {
  height: 58px;
  width: 80%;
  background-color: var(--blue);
  position: absolute;
  top: 8px;
}

.box-2 {
  height: 68px;
  width: 80%;
  background-color: var(--red);
  position: absolute;
  top: 489px;
}

.box-3 {
  height: 42px;
  width: 80%;
  background-color: var(--red);
  position: absolute;
  top: 673px;
}

.box-4 {
  height: 42px;
  width: 80%;
  background-color: var(--red);
  position: absolute;
  top: 830px;
}

.box-5 {
  height: 68px;
  width: 80%;
  background-color: var(--red);
  position: absolute;
  top: 54px;
}

.box-6 {
  height: 68px;
  width: 80%;
  background-color: var(--red);
  position: absolute;
  top: 257px;
}

.box-7 {
  height: 68px;
  width: 80%;
  background-color: var(--red);
  position: absolute;
  top: 390px;
}

.dinA4 {
  width: calc(794px - 57px);
  height: calc(1123px - 114px);
  margin: 8px auto;
  padding: 57px 57px 57px 0;
  background-color: var(--dinA4-background);
  box-shadow: 1px 1px 2px rgb(18,18,18);
  display: flex;
  position: relative;
}

.content {
  height: 100%;
  width: calc(794px - 114px);
  position: relative;
}

.top {
  height: 141px;
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 16px;
}

.top-name-profession {
  width: 100%;
}

.top-name {
  color: var(--blue);
  margin: 0;
  font-size: 30px;
}

.top-profession {
  color: var(--red);
  margin: 0;
}

.top-description {
  color: var(--black);
  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.2px;
}

.profile-pic {
  flex-shrink: 0;
  border: 4px solid var(--red);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-image: url("../img/profile-pic-round_2.png");
  background-size: 101%;
  background-position: center;
  position: absolute;
  top: -8px;
  left: 260px;
}

.top-links {
  width: 240px;
  flex-shrink: 0;
  list-style-type: none;
  margin: 0;
  padding: 7px 0 0 0;
}

.top-links-line {
  text-align: right;
  color: var(--black);
  margin: 6px 4px;
  font-size: 14px;
  font-weight: bold;
}

.top-links-icons {
  width: 18px;
  padding-top: 14px;
  padding-left: 4px;
  display: flex;
  flex-direction: column;
}

.map-pin-icon {
  height: 18px;
  width: 18px;
  margin-left: -1px;
  padding-bottom: 7px;
}

.mail-icon {
  height: 18px;
  width: 18px;
  margin-left: -1px;
}

.phone-icon {
  height: 18px;
  width: 18px;
  margin-left: -1px;
  padding-top: 6px;
}

.devicon-icon {
  padding-top: 9px;
  padding-bottom: 2px;
}

.top-border {
  background-color: var(--red);
  height: 1px;
  width: 794px;
  margin-left: -57px;
}

.expertise {
  height: 148px;
}

.expertise-header {
  color: var(--black);
  margin: 10px 0;
}

.expertise-container {
  display: flex;
  flex-wrap: wrap;
}

.expertise-block {
  padding: 6px 6px 8px 6px;
  margin: 4px 12px 4px 0;
  display: flex;
  border-radius: 4px;
}

.expertise-icon {
  font-size: 30px;
  color: var(--red);
}

.expertise-block-text {
  font-size: 20px;
  margin: auto 0;
  padding-left: 4px;
  font-weight: bold;
  color: var(--black);
}

.professional-experience {
  height: 534px;
}

.professional-experience-header {
  color: var(--black);
  margin-bottom: 8px;
  height: 34px;
}

.professional-experience-header-small-bold {
  font-weight: bold;
  color: var(--black);
  margin: 16px 0 0 0;
  height: 26px;
}

.professional-experience-header-small {
  font-weight: 600;
  color: var(--black);
  margin: 0;
  height: 26px;
}

.professional-experience-date {
  margin: 0;
  color: var(--red);
  font-style: italic;
  height: 22px;
}

.professional-experience-achievements {
  margin: 4px 0 0 0;
  color: var(--red);
  font-style: italic;
  height: 22px;
}

.professional-experience-list {
  margin: 0;
  padding-left: 14px;
  color: var(--red);
  list-style: none;
  height: 67px;
}

.professional-experience-list-line::before {
  content: "•";
  color: red;
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

.professional-experience-list-line {
  color: var(--black);
  font-weight: 600;
}

.page-number {
  position: absolute;
  color: var(--grey);
  right: 0px;
  bottom: -50px;
}

.education {
  height: 650px;
}

.education-header {
  color: var(--black);
  margin: 0 0 8px 0;
  height: 34px;
}

.education-header-small-bold {
  margin: 16px 0 0 0;
  color: var(--black);
  height: 26px;
}

.education-header-small {
  margin: 0;
  color: var(--black);
  font-weight: 600;
  height: 26px;
}

.education-date {
  margin: 0;
  color: var(--red);
  font-style: italic;
  height: 22px;
}

.education-learning-points {
  margin: 0;
  color: var(--red);
  font-style: italic;
  height: 22px;
}

.education-list {
  margin: 0;
  padding-left: 14px;
  color: var(--red);
  list-style: none;
}

.list-le-wagon {
  height: 90px;
}

.list-university {
  height: 22px;
}

.education-list-line::before {
  content: "•";
  color: red;
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

.education-list-line {
  color: var(--black);
  font-weight: 600;
}

.english-certificate {
  height: 120px;
}

.languages-header {
  color: var(--black);
  margin: 40px 0 20px 0;
}

.languages-container {
  display: flex;
}

.language-block {
  margin: 4px 32px 4px 0;
  display: flex;
  border-radius: 4px;
}

.language-icon {
  height: 40px;
  margin: 0;
}

.language-block-text {
  font-size: 18px;
  margin: auto 0;
  padding-left: 4px;
  font-weight: 600;
  color: var(--black);
}

.interests-header {
  color: var(--black);
  margin: 40px 0 20px 0;
}

.interests-container {
  display: flex;
}

.interests-block {
  display: flex;
  margin-right: 32px;
}

.interest-icon {
  height: 32px;
  width: 32px;
  margin: 0 4px 0 0;
  filter: invert(48%) sepia(69%) saturate(6859%) hue-rotate(337deg) brightness(94%) contrast(91%);
}

.interest-name {
  font-size: 18px;
  margin: auto 0;
  font-weight: 600;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

